# === Временные файлы компиляции Arduino ===
# Исключаем папки, куда Arduino IDE сохраняет бинарники (.hex, .elf) и кэш
**/build/
**/bin/
.string_cache/

# === Настройки локальной среды (IDE) ===
# Файлы конфигурации редакторов, которые у каждого разработчика свои
.vscode/
.idea/
.gcc-flags.json
*.pde

# === Логи и отчеты об ошибках ===
*.log
